body{
    padding: 0px;
    margin: 0px;        
}

.main{
    background-color: snow;
    padding: 10px 20px 10px 20px;
}

.logo{
    background-color: powderblue;
    height: 25px;
    margin-right: 15px;
    
    text-align: center;
    margin: 5px;

    display: block;
    flex: 1;
}

.nav{
    background-color: aquamarine ;
    
    text-align: center;
    margin: 5px;

    display: block;
    flex: 2;
}

.header{
    background-color: blueviolet;
    margin: 5px;
    height: 50px;
    
    display: flex;
    align-items:  center;
    justify-content: center;
}

.ITA{
    background-color: cornflowerblue;
    margin: 5px;
    height: 30px;
    
    display: flex;
    align-items:  center;
    justify-content: center;
}

.box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxs-1,.boxs-2, .boxs-3{
    height: 300px;
    width: 29%;
    background: mediumspringgreen;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: greenyellow;
    margin: 5px;
    margin-bottom: 5px;
    text-align: center;
}