body{
    font-family: 'Sriracha', cursive;
}

html, body{
    
    background-color: seashell;
    margin: 0;
    padding: 0;

}

.box{
    
    background-color: lavender;
    padding: 20px;
    margin: 40px;

}
